weights/convnextv2_base.fcmae_ft_in22k_in1k.pth filter=lfs diff=lfs merge=lfs -text
weights/convnextv2_tiny.fcmae_ft_in22k_in1k.pth filter=lfs diff=lfs merge=lfs -text
weights/maxvit_tiny_tf_224.in1k.pth filter=lfs diff=lfs merge=lfs -text
weights/swin_tiny_patch4_window7_224.ms_in22k_ft_in1k.pth filter=lfs diff=lfs merge=lfs -text
weights/tf_efficientnetv2_s.in21k_ft_in1k.pth filter=lfs diff=lfs merge=lfs -text
weights/vit_base_patch16_clip_224.laion2b_ft_in12k_in1k.pth filter=lfs diff=lfs merge=lfs -text
